{{#my-context/provider value=(if updatedContext updatedContext (hash testValue="original value"))}}
  {{#my-context/consumer as |context|}}
    <div>
      <strong>Context value:</strong>
      <span>{{context.testValue}}</span>
    </div>
  {{/my-context/consumer}}

  {{#unless updatedContext}}
    <div>
      <button {{action (action (mut updatedContext) (hash testValue="updated value"))}}>
        Update context
      </button>
    </div>
  {{/unless}}
{{/my-context/provider}}
